{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<link rel = "stylesheet" href = "static/css/style.css">
<form method="POST">
  <h3 align="center"><br><br><br><br></h3>
  <div class="form-group">
    <!--Email-->
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />
    <!--Password-->
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </div>
</form>
<!--javascript(WITH JQUERY FRAMEWORK)-->
<script src='https://code.jquery.com/jquery-3.6.0.min.js'>
</script>

<script>
    $('.form-control a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
{% endblock %}
